/* Selector Universal */

*{
    padding: 0;
    margin: 0;
    
}

/* Selector de Etiqueta */

body {

    background-color: #e6edd9;
    color: white;
}

/* selecto de clase */
.texto{
text-align: justify;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
padding: 5px 25px;
color: #000000;


}
.img {
width: 100px;
border-radius: 5px;
justify-items: center;

}
.encabezado-articulo{
padding: 10px;
text-align: center;
background-color: rgb(83,152,97);
color: rgb(255,255,255);
margin: 1em 2em;
border-radius: 5px;
width: 80%; /* Ajusta el ancho al 80% del contenedor */
}


.encabezado-aside{
padding: 10px 10px;
text-align: center;
background-color: rgb(89,161,81);
color: white;
margin: 1em 2em;
width: 80%; /* Ajusta el ancho al 80% del contenedor */

}
.menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 , 25px;
}

.lista-aside{

    padding: 10px;
}

.lista-aside li{
display: flex;
text-align: left;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 2opx;
padding: 0 2px;
list-style: square;
color: #0000;
font-size: 16px; /* Tamaño de fuente aumentado */

}

/* Selector id */
#contenedor {
    width: 80%; /* Ancho del 100% para ajustarse al ancho de la pantalla */
    width: 900 px;
    height: 1000 px;
    background-color: #dee0b7;
    max-width: 0 auto;
    border-radius: 5px;
}

#encabezado {
width: 15%;
background-color: #6c844e;
color:white;
margin: 1em;
border-radius: 5px;
padding: 0 50px;
width: 80%; /* Ajusta el ancho al 80% del contenedor */


}
#menu {
height: 5%;
background-color: #7e815b;
color:white;
margin: 1em;
border-radius: 5px;

}

#contenido{


    height: 75%;
    width: 58%;
    background-color: #b5bf9a;
    color:white;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}
#fueraSeccion{
height: 75%;
width: 35%;
margin: 0.5em;
display: inline-block;
vertical-align: top;
border-radius: 5px;

}
#pie{

    height: 10%;
    background-color: #b5bf9a;
    margin: 1.5em;
    text-align: center;
    padding: 5px;

}

#pie h4{

    padding: 15px;
    font-size: 30px;

}

/* Selector de etique */

ul{

    text-align: center;
    padding: 10px;
}
li{

    display: inline;
    padding: 10px 30px;
    margin: 3em;   
}

li a:hover{

    color: crimson;
    text-decoration: none;
    list-style: none;
}
@media screen and (max-width: 700px) {
    body {
        font-size: 16px;
    }

    .menu-aside {
        font-size: 16px;
    }

    .lista-aside li {
        font-size: 16px;
    }

    #pie h4 {
        font-size: 24px;
    }

    #contenedor {
        width: 100%;
        max-width: none;
        height: fit-content;
    }

    #encabezado {
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    #menu {
        height: auto;
    }

    #contenido {
        width: 100%;
        margin: 0;
        padding: 10px;
        text-align: left;
    }

    #fueraSeccion {
        width: 100%;
        margin: 0;
        padding: 10px;
        display: block;
        vertical-align: top;
    }

    .img {
        width: 100%;
        height: auto;
    }

    li {
        display: block;
        padding: 10px 0;
        margin: 0;
    }

    article {
        margin-bottom: 20px; /* Agregar espacio entre elementos <article> */
    }

    .lista-aside {
        width: fit-content; /* Haz que la lista <aside> sea fit-content */
        margin: 0 auto; /* Centra la lista horizontalmente */
    }
}
