body {
    background-color: #f1ecea;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  /* Estilos para el encabezado */
  .encabezado {
    background-color: #3a251c;
    text-align: center;
    padding: 20px;
    color: white;
    box-sizing: border-box;
  }
  
  /* Estilos para la barra de navegación */
  .barraNavegacion {
    background-color: #b46424;
    text-align: center;
    padding: 10px;
    color: white;
    box-sizing: border-box;
  }
  
  .barraNavegacion ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .barraNavegacion li {
    display: inline;
    margin-right: 20px;
  }
  
  /* Estilos para la sección principal */
  .texto {
    background-color: #362f2f;
    width: 64%;
    padding: 20px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    box-sizing: border-box;
    border: 1px solid #fff;
    float: left;
  }
  
  .texto h2 {
    text-align: center;
  }
  
  .texto p {
    text-align: justify;
  }
  
  /* Estilos para la sección de cultivo */
  .cultivo {
    background-color: #362f2f;
    height: 64%;
    width: 360px;
    float: left;
    padding: 20px;
    color: white;
    box-sizing: border-box;
    border: 1px solid #fff;
  }
  
  .cultivo h2 {
    text-align: center;
  }
  
  /* Estilos para las imágenes */
  .imagenes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .imagenes img {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  /* Estilos para el aside */
  aside {
    background-color: #b58c7c;
    width: 35%;
    float: left;
    padding: 20px;
    color: white;
    box-sizing: border-box;
    border: 1px solid #fff;
  }
  
  aside h2 {
    text-align: center;
  }
  
  /* Estilos para el footer */
  .pieNavegacion {
    background-color: #3a251c;
    text-align: center;
    padding: 10px;
    color: white;
    width: 980px;
    float: left;
    border-top: 1px solid #fff;
  }
  
  #contenedor {
    width: 1000px;
    height: 900px;
    margin: 0 auto;
  }
  
  /* Media query para pantallas móviles */
  @media screen and (max-width: 700px) {
    /* Realiza ajustes específicos para pantallas de 700px o menos aquí */
    .texto {
      width: 100%;
    }
  
    .cultivo {
      width: 100%;
      height: fit-content;
    }
  
    aside {
      width: 100%;
  
    }
    .imagenes{
      justify-content: space-evenly;  
      }
  
    .pieNavegacion {
      width: 100;
    }
    figure{
      padding-left: 34%;
    }
    ul{
      padding-left: 50%;
    }
    article{
      text-align: justify;
    }
  }