*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
}

.contenedor{
    margin: auto;
    background-color: lemonchiffon;
    width: 900px;
    height: 600px;
    border: 5px solid black;
}

h1{
    padding-top: 20px;
}

.nombre{
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
}

.nombre input{
    width: 420px;
    height: 25px;
    margin-left: 20px;
}

.fechaNacimiento{
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    font-weight: bold;
}

.fechaNacimiento input{
    width: 150px;
    margin-left: 20px;
    height: 25px;
}

.lugarNacimiento{
    font-weight: bold;
    text-align: right;
    margin-top: -130px;
    margin-bottom: 100px;
    padding-right: 225px;
}

.lugarNacimiento select{
    width: 155px;
    margin-left: 20px;
    height: 25px;
}

.poblacion{
    font-weight: bold;
    text-align: left;
    float: right;
    margin-top: -143px;
    margin-right: 10px;
}

.poblacion input{
    height: 20px;
}

.idiomas{
    text-align: left;
    float: right;
    margin-top: -90px;
    padding-right: 30px;
}

.idiomas li{
    width: 450px;
    height: 60px;
    background-color: rgb(1, 1, 1, .10);
    list-style: none;
}

.idiomas input{
    margin-top: 30px;
    margin-left: 20px;
}

.sexo{
    text-align: left;
    padding-left: 20px;
    padding-top: 30px;
    width: 240px;
}

.sexo li{
    width: 265px;
    text-align: left;
    height: 60px;
    background-color: rgb(1, 1, 1, .10);
    list-style: none;
}

.Sexo input{
    margin-top: 20px;
    margin-left: 20px;
}

.correo{
    margin-top: -10px;
    text-align: left;
    width: 210px;
    float: left;
    margin-left: 20px;
    height: 25px;
    color: black;
}

.egresoPrimaria{
    float: left;
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 400px;
    font-weight: bold;
}

.egresoPrimaria input{
    margin-left: 5px;
}

.habitos {
    text-align: center;
    float:right;
    margin-top: -140px;
    margin-left: 20px; 
    font-weight: bold;
    padding: 30px;
}

.habitos textarea {
    width: 350px; 
}

.ingresos{
    text-align: center;
    float: left;
    margin-top: -100px;
    font-weight: bold;
}

.ingresos input{
    margin-top: 20px;
    width: 480px;
}

.horario {
    font-weight: bold;
    float: right;
    margin-top: -40px;
    margin-right: 45px;
}

.horario input {
    margin-top: 10px;
    max-width: 60px;
}

#botones{
    margin-top: 40px;
    margin-right: 20px;
    width: 150px;
    height: 50px;
}

#ListaIngresos_label{
    font-size: 10px;
    word-spacing: 2.2em;
}