/* Selector Universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Selector de Etiqueta */
body {
    background: linear-gradient(135deg, #6B8E23, #00CED1); /* Fondo con degradado */
    color: #000; /* Color del texto */
    text-align: justify;
    font-family: monospace;
    line-height: 1.6; /* Espaciado entre líneas */
}

/* Selector de Clases */
.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    padding: 5px 25px;
    color: #000; /* Color del texto */
}

img {
    width: 100px;
    height: 100px;
    border: 2px solid #000; /* Borde más grueso */
    margin: 0 5px;
    justify-items: center;
    transition: transform 0.3s ease-in-out; /* Efecto de transición */
    border-radius: 50%; /* Forma circular */
}

img:hover {
    transform: scale(1.1); /* Efecto de aumento al pasar el cursor */
}

.encabezado-articulo {
    padding: 10px;
    text-align: center;
    color: #fff; /* Color del texto */
    margin: 1em 2em;
    border-radius: 10px;
    background: linear-gradient(135deg, #e7186e, #FF6347); /* Fondo con degradado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
}

.encabezado-aside {
    padding: 10px 10px;
    text-align: center;
    background: radial-gradient(circle, #e7186e, #FF6347); /* Fondo con gradiente radial */
    color: #fff; /* Color del texto */
    margin: 1em 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
}

.menu-aside {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 25px;
    color: #000; /* Color del texto */
}

.lista-aside {
    padding: 0;
    text-align: left;
    margin-left: 120px;
}

.lista-aside li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 10px 50px;
    color: #000; /* Color del texto */
    position: relative;
    list-style: none; /* Oculta los marcadores de lista */
}

.lista-aside li::before {
    content: "\25CF"; /* Agrega un punto antes de cada elemento de la lista */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #e7186e; /* Cambia el color del punto */
    position: absolute;
    left: -20px; /* Alinea el punto a la izquierda */
    top: 5px; /* Alinea el punto verticalmente */
}

/* Selector Id */
#contenedor {
    width: 900px;
    height: auto;
    background: linear-gradient(135deg, #dd6fc2, #87CEFA); /* Fondo con degradado */
    color: #fff; /* Color del texto */
    max-width: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra */
}

#encabezado {
    height: 15%;
    width: 80%;
    background-color: #66aae2; /* Color de fondo */
    color: #161616; /* Color del texto */
    margin: 1em;
    border-radius: 10px;
    padding: 0 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
    box-sizing: border-box;
}

#menu {
    height: 5%;
    background: radial-gradient(circle, #d4e726, #32CD32); /* Fondo con gradiente radial */
    margin: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
}

#menu > ul > li {
    display: inline-block;
}

#menu > ul > li > a {
    display: inline;
    margin: 5px;
    text-decoration: none;
    font-size: 20px;
    color: #1d1b1b; /* Color del texto */
    cursor: pointer;
    transition: color 0.3s ease-in-out; /* Efecto de transición de color */
}

#menu > ul > li > a:hover {
    color: #e7186e; /* Cambia el color al pasar el cursor */
}

#contenido {
    height: 682px;
    width: 58%;
    background: linear-gradient(135deg, #ddd1d8, #8A2BE2); /* Fondo con degradado */
    margin: 0.5em;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
}

#fueraSeccion {
    padding-top: 20px;
    height: 682px;
    width: 35%;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border: 1px solid rgb(231, 174, 157);
    background: conic-gradient(#a1dee2, #FF6347, #a1dee2); /* Fondo con gradiente cónico */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
}

#pie {
    height: auto;
    width: 900px;
    background: linear-gradient(135deg, #f0f34f, #FF6347); /* Fondo con degradado */
    margin: 0px auto;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra */
}

#pie h4 {
    padding: 15px;
    font-size: 30px;
    color: #000; /* Color del texto */
}

/* Media Query para dispositivos con pantalla de 700px o menos */
/* Media Query para dispositivos con pantalla de 700px o menos */
@media screen and (max-width: 700px) {
    .texto {
        font-size: 14px;
    }

    .lista-aside li {
        font-size: 16px; /* Tamaño de fuente ajustado para dispositivos móviles */
        padding: 10px 20px; 
    }
    
    /* Modifica el ancho del contenedor al 100% */
    #contenedor {
        width: 100%;
        max-width: none;
    }
    /* Ajusta el ancho de #fueraSeccion al 100% y elimina el margen superior */
    #fueraSeccion {
        width: 100%;
        max-width: none;
        margin-top: 0; /* Elimina el margen superior */
    }
    html{
        width: 900px;
    }
}
